name: CI/CD Node.js Pipeline # Nom visible du pipeline sur GitHub Actions
on:
  push: # Le workflow est déclenché lors d'un 'push'
    branches: [main] # ...spécifiquement sur la branche 'main'
  pull_request: # Déclenché également lors d'une 'pull request'
    branches: [main]

jobs:
  test: # Job d'Intégration Continue (CI)
    name: Continuous Integration
    runs-on: ubuntu-latest # Exécute ce job sur un runner Ubuntu
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4 # Récupère le code source du dépôt

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20 # Utilise la version 20 de Node.js

      - name: Install dependencies
        run: npm ci # Installe les dépendances (plus fiable que 'npm install')

      - name: Run unit tests
        run: npm test # Lance les tests Jest. Un échec ici bloque le job 'deploy'.

  deploy: # Job de Déploiement Continu (CD)
    name: Continuous Deployment
    runs-on: ubuntu-latest
    needs: test # Ce job ne s'exécute que si le job 'test' réussit.
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3 # Utilise une action pour déployer sur GH Pages
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }} # Utilise le jeton GitHub pour l'accès
          publish_dir: ./ # Déploie le contenu du répertoire courant